.idea/.gitignore
.idea/copilot.data.migration.ask2agent.xml
.idea/ifg otm viagem.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/api.cpython-314.pyc
__pycache__/import_export_json.cpython-314.pyc
__pycache__/otm_model.cpython-314.pyc

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/
# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# VS Code
# =========================
.vscode/
# =========================
# Python
# =========================
__pycache__/

# Crawler
.env
crawler/.env